<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>
<head>
  <title> Holidog </title>
  <link rel="stylesheet" type="text/css" href="holidog.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <header >
      <div class="overlay">
      <img id='header_image' src="95514p.png">
  </header>
  <div ng-app="myApp" ng-controller="myCtrl" ng-init="foto='foto.png'">
    <h2>Choose a breed!</h2>
    <div class="row">
      <div class="col-sm-6">
        <img id='photo' ng-src={{foto}}>
      </div>
      <div class="col-sm-6">
        <p><input type="text" ng-model="test"></p>
        <div id="breeds">
          <div ng-controller="myPhoto">
              <div id='breed' ng-repeat='breed in breeds(message) | filter:test'>
                <p ng-click="myFunction(breed)">{{breed | capitalize}}</p>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>


  <script>
  var app = angular.module('myApp', []);
  var app = angular.module("myApp", ['ngSanitize']);
  app.controller('myCtrl', function($scope, $http) {
    $http.get("https://dog.ceo/api/breeds/list/all")
    .then(function(response) {
        $scope.status = response.data.status;
        $scope.message = response.data.message;
        $scope.breeds = function($m){
          $aux = 0;
          $br = [];
          for ([$n1, $n2] of Object.entries($m)) {
            if($n2.length > 0){
              for ($name2 of $n2){
                $br[$aux] = $n1 +" "+$name2;
                $aux++;
              }
            }else{
              $br[$aux] = $n1;
              $aux++;
            }
          }
          return $br;
        }
    });
  });
  app.controller('myPhoto', function($scope, $http) {
        $scope.myFunction = function($name) {
        $dog = $name.replace(" ","-");
        console.log($dog);
        $http.get("https://dog.ceo/api/breed/"+$dog+"/images/random")
        .then(function(response) {
            $scope.foto= response.data.message;
            document.getElementById('photo').src = $scope.foto;
        });
      }
  });

  app.filter('capitalize', function() {
    return function(input) {
      return (!!input) ? input.charAt(0).toUpperCase() + input.substr(1).toLowerCase() : '';
    }
  });

  </script>
</body>
  <div class="footer">Holidog</div>
</html>
