<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>
<head>
  <title> Holidog </title>
  <link rel="stylesheet" type="text/css" href="holidog.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <header >
      <div class="overlay">
      <img id='header_image' src="95514p.png">
  </header>
  <div ng-app="myApp" ng-controller="myCtrl" ng-init="foto='foto.png'">
    <h2>Choose a breed!</h2>
    <div class="row">
      <div class="col-sm-6">
        <img id='photo' ng-src={{foto}}>
      </div>
      <div class="col-sm-6" id="breeds">
        <div ng-controller="myPhoto">
          <div id='breed' ng-repeat="(key, data) in message">
            <div *ngif="data; else other_content">
              <p ng-repeat="d in data" ng-click="myFunction(key, d)">{{key | capitalize}} {{d}}</p>
              <div ng-click="myFunction(key, 1)">
                <ng-template #other_content><p>{{key | capitalize}}</p></ng-template>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <script>
  var app = angular.module('myApp', []);
  var app = angular.module("myApp", ['ngSanitize']);
  app.controller('myCtrl', function($scope, $http) {
    $http.get("https://dog.ceo/api/breeds/list/all")
    .then(function(response) {
        $scope.status = response.data.status;
        $scope.message = response.data.message;
    });
  });
  app.controller('myPhoto', function($scope, $http) {
        $scope.myFunction = function($key, $data) {
          if($data==1){
            $dog = $key;
          }else{
            $dog = $key+"-"+$data;
          }
          console.log($dog);

        $http.get("https://dog.ceo/api/breed/"+$dog+"/images/random")
        .then(function(response) {
            $scope.foto= response.data.message;
            document.getElementById('photo').src = $scope.foto;
        });
      }
  });

  app.filter('capitalize', function() {
    return function(input) {
      return (!!input) ? input.charAt(0).toUpperCase() + input.substr(1).toLowerCase() : '';
    }
  });

  </script>
</body>
  <div class="footer">Holidog</div>
</html>
